# don't upload dependencies
node_modules/

# don't upload build artifacts if this is just the dev repo
dist/
build/

# don't upload environment secrets
.env
.env.*
*.env

# misc
.DS_Store
*.log
